<a href="https://colab.research.google.com/github/k-seona/lab_python/blob/main/py03_conditional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#else가 없는 조건문


```
<pre></pre> = > html 태그와 비슷한 기능 == ```
if 조건식:
  조건식이 참일 떄 실행할 코드 (블록)
```
  * `if 조건식` 뒤에는 반드시 콜론(:)을 사용해야 함.
  * 코드 블록을 작성할 때 `{}`를 사용하지 않음.
  * `if` 블록 안의 문장들은 반드시 같은 크기로 들여쓰기(indentation)**을 해야 함

In [46]:
n = -100

In [47]:
if n > 0:
  print('양수')
  print('if 블록 끝')
print('if 블록 바깥') # if 블록과 상관없이 실행하는 문장

if 블록 바깥

# else 가 있는 조건문
```
if  조건식:
  참일 때 실행 할 코드블록
else:
  거짓일 때 실행할 코드블록

```

In [48]:
n = 123
if n % 2 ==1:
  print('홀수')
else:
    print('짝수')

홀수

파이썬에서 참(true)로 취급하는 값:
* 0이 아닌 숫자들.
* 1개 이상의 문자를 가지고 있는 문자열.
* 1개 이상의 원소를 가지고 있는리스트(와 비슷한 객체)

# chainde conditional


```
if조건식1:
  조건식1이 참일 떄 실행할 코드 블록
elif 조건식2:
  조건식1ㅇ; 거짓이고, 조건식2가 참일 때 실행할 코드불록
```
```
else:
  위의 모든 조건이 거짓 일 때 실행 할 코드 블록
```

Ex1.정수 3개를 입력받고 변수에 저장. 평균을 계산. 평균이 90이상이면 'A' 80이상이면 'B' 70이상이면 'C' ,70미만이면 ''F

In [54]:
x = int(input('x 정수 입력>>>'))
y = int(input('y 정수 입력>>>'))
z = int(input('z 정수 입력>>>'))
i = x + y + z
n = (x + y + z)/3


print(f'총점수 : {i}')
print(f'평균 : {n}')

if(n >= 90):
  print('등급은 A')
elif(n >= 80):
  print('등급은 B')
elif(n >= 70):
  print('등급은 C')
else:
  print('등급은 F')

x 정수 입력>>>100
y 정수 입력>>>100
z 정수 입력>>>100
총점수 : 300
평균 : 100.0
등급은 A

In [15]:
for i in range(5):
  print('{:<5}'.format('*'* (i+1)))

*
**
***
****
*****

In [23]:
list (range(5))

[0, 1, 2, 3, 4]