<a href="https://colab.research.google.com/github/k-seona/lab_python/blob/main/py04_iteration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for 반복문


```
for 변수 in iteratrion_type:
  반복해서 실행할 코드 블록
```
* iteratrion_type: 반복가능한 타입
  *range, list, tuple(파이썬 자르 타입), dict(파이썬 자르 타입), set, str, ...
* `range()` 함수:
  *`range(stop)`: 0 <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
  * `range(start, stop)`: start <= x < stop 범위의 1씩 증가하는 정수들을 차례로 반환.
  * `range(start, stop, step)`:
    * step > 0: start <= x < stop 범위의 step 만큼씩 증가하는 정수들을 차례로 반환.
    * step < 0: start >= x > stop 범위의 step 만큼씩 감소하는 정수들을 차례로 반환.

In [1]:
for x in range(5): # 0 <=x < 5
  print(x)

0
1
2
3
4

In [5]:
for x in range(1,6): # 1 <= x 6
  print(x)

1
2
3
4
5

In [6]:
for x in range(0, 10, 2):
  print(x)

0
2
4
6
8

In [9]:
for x in range(10, 0, -2):
  print(x)

10
8
6
4
2

# 중첩 반복문


```
for x in iterable:
  for y in iterable2:
    코드블록
```

구구단 2단 부터 9단까지 출력

In [20]:
for x in range(2, 10, 1):
  for y in range(1, 10, 1):
    print(f'{x} * {y} = {x * y}' )
  print('-'* 10)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
----------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
----------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
----------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
----------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
----------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
----------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
----------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
----------

문자열에서 사용가능한 산술 연산자:
* 문자열 `+`문자열: 문자열 이어붙이기(concatenate)
* 문자열`*`정수: 문자열(정수만큼) 반복해서 늘리기

#break와 continue

*`break` : 반복(iteration)을 종료. break가 포함된 가장 가까운 반복문을 빠져나옴
* `continue` : 반복문 내부의 실행을 멈추고, 그 다음 iteration을 계속해서 수행.

In [25]:
for x in range(5):
  if x == 2:
    break;
  print(x)

0
1

In [32]:
for x in range(5):
  if x == 2:
    continue
  print(x)

0
1
3
4

다음과 같이출력


```
2 x 1 =2
2 x 2 = 4
------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
```

In [56]:

for x in range(2,6,1):
  for y in range(1, 6, 1):
    if x < y:
      break
    print(f'{x} x {y} = {x * y}')
  print('-'* 10)

2 x 1 = 2
2 x 2 = 4
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
----------

In [53]:
for x in range(2,6,1):
  for y in range(1, 6, 1):
    print(f'{x} x {y} = {x * y}')
    if x == y:
      break
  print('-'* 10)

2 x 1 = 2
2 x 2 = 4
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
----------

In [57]:
for x in range(2,6):
  for y in range(1, x+1):
    print(f'{x} x {y} = {x*y}')
  print('-'*10)

2 x 1 = 2
2 x 2 = 4
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
----------

#while 반복문


```
[초기화 문장]
while 조건식:
  반복할 코드 블록
  [조건(변수)를 변경하는 문장]
```

다음과 같이 출력


```
*
**
***
****
*****
```

In [65]:
i = 1
while i < 6:
  print('*' * i)
  i += 1

*
**
***
****
*****

In [74]:
i = 1
while i < 6:
  print('*' * i)
  i += 1 # 파이썬은 ++ , -- 연산자는 없음

*
**
***
****
*****

1이상 10미만의 홀수를 출력하는 코드를 while문으로 작성

In [72]:
i = 1
while i <= 10:
  print(i)
  i += 2

1
3
5
7
9

In [10]:
for i in range(5, 0, -1):
  print(format('*' * (i)))

*****
****
***
**
*

In [3]:
for i in range(5):
  print('{:<5}'.format('*'* (i+1)))

*
**
***
****
*****