<a href="https://colab.research.google.com/github/k-seona/lab_python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입(자바와 다른점 : 여러개 타입을 넣을 수 있음.)
* element(원소, 요소): 리스트에 저장되는 각각의 값
* index(인덱스): 리스트에서 원소가 저장된 위치
  * 리스트의 인덱스는 **0**부터 시작
  * 리스트의 마지막 인덱스는 (원소 개수 -1).
* 리스트는 원소들을 추가, 삭제, 변경 할 수 있음.
   *`tuple`과 다른 점!

```
# 코드로 형식 지정됨
```

In [ ]:
#숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
numbers

[1, 2, 3, 10, 20, 30]

#인덱싱(indexing)
인덱스를 사용해서리스트와 원소를 저장하는 리스트

In [ ]:
numbers [0] #리스트 numbers의 인덱스 0 위치의 원소

1

In [ ]:
numbers [5] #리스트 numbers의 인덱스 5 위치의 원소

30

In [ ]:
numbers [-1] #리스트 numbers에서 가장마지막 원소

30

In [ ]:
numbers [-2]#리스트 numbers에서 마지막 두번째 원소

20

#slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법

`list[start:end]`

*start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄
*start를 생략한 경우에는 첫번째 원소부터 잘라냄
  * `list[0:5]`과 `list[:5]`는 같은 결과
*end를 생략한 경우에는 마지막 원소까지 잘라냄.
*리스트를 slicing한 결과는 또다른 새로운 **리스트**

In [ ]:
numbers[1:4]

[2, 3, 10]

In [ ]:
numbers[3:6]

[10, 20, 30]

In [ ]:
numbers[3:]

[10, 20, 30]

In [ ]:
numbers[:3] #리스트에서 앞에서 3개를 선택

[1, 2, 3]

In [ ]:
numbers[-3:]#리스트에서 뒤에서 3개

[10, 20, 30]

In [ ]:
numbers[0:1] #slicing -> 리스트(1개의 리스트)

[1]

In [ ]:
numbers[0] #indexcing -> 값(숫자)(원소1)

1

#문자열(str)
*문자들의 *리스트*
*문자열은 인덱스를 사용할 수 있음
*indexcion, slicing 가능.

In [ ]:
message = '안녕하세요, 여러분!' #11개의 문자들로 이루어진 리스트.

In [ ]:
message[0] #문자열에서 첫번째 문자

'안'

In [ ]:
message[-1]

'!'

In [ ]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [ ]:
message[-3:] #문자열에서 뒤에서 3글자

'러분!'

In [ ]:
#문자열 산술 연산 : +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

#리스트의 산술 연산

* `list + list `
* `list * int` 또는 `int * list`

In [ ]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
for x in 'hello':
  print(x)

h
e
l
l
o

In [ ]:
numbers=[1,10,5,100]
for x in numbers:
  print(x)

1
10
5
100

In [ ]:
for i in range(len(numbers)): # 0 <=X <len
  print(i, ':',numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
for i, v in enumerate(numbers):
  print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [ ]:
numbers1=[1,2,3]
numbers2 = [10, 11, 12]
#numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는리스트.
#[11, 13, 15]
result = []
for i in range(len(numbers1)):
  result.append(numbers1[i] + numbers2[i])
result

[11, 13, 15]

In [ ]:
result = []
for x, y in zip(numbers1, numbers2):
  result.append(x+ y)
result

[11, 13, 15]

파이썬에 난수를 만드는 방법

In [ ]:
import random # random 모듈을 임포트

In [ ]:
# random모듈의 random()함수를 호출
random.random() #[0, 1) 범위 (0 <= x < 1)의 실수 난수를 리턴.

0.8398926810795909

In [ ]:
#random 모듈의 randrange()함수를 호출
random.randrange(10) #[0,10)

2

In [ ]:
random.randrange(1,4) # [1,4)

3

## Ex 1.

1. 빈 리스트를 생성.
1. 1 이상 10 이하의 정수 난수 5개를 저장.
1. 리스트의 모든 정수들의 합을 출력.
1. 리스트의 모든 정수들의 평균을 출력.

In [ ]:
numbers=[]
for i in range(5):
  number = random.randint(1,10)
  numbers.append(number)
print(numbers)
sum = 0

for i in numbers:
  sum += i
print('sum',sum)

print('avg',sum / len(numbers))

[5, 5, 3, 7, 10]
sum 30
avg 6.0

## Ex 2.

1. 빈 리스트(numbers)를 생성.
1. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
1. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [ ]:
numbers = []
for i in range(10):
  number = random.randrange(10, 99)
  numbers.append(number)
print(numbers)

evens = []
odds = []
for i in range(len(numbers)):
  if numbers[i] % 2 == 0:
    evens.append(numbers[i])
  else:
    odds.append(numbers[i])
print('evens', evens)
print('odds',odds)

[24, 19, 81, 57, 92, 26, 26, 87, 76, 53]
evens [24, 92, 26, 26, 76]
odds [19, 81, 57, 87, 53]

## Ex 3.

1. 빈 리스트 numbers를 만듦.
1. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [ ]:
numbers = []
is_positive = []

for i in range(10):
    number = random.randrange(-10, 10)
    numbers.append(number)
    is_positive.append(number > 0)

print(numbers)
print(is_positive)

[-4, -6, -2, -10, 1, -7, 3, -8, 0, 3]
[False, False, False, False, True, False, True, False, False, True]

## Ex 4.

1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
1. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [ ]:
gender_codes = []
genders = []
for i in range(10):
  code = random.randrange(0, 2)
  gender_codes.append(code)

  if code == 0:
    genders.append('Male')
  else:
    genders.append('Femal')
print(gender_codes)
print(genders)

[0, 0, 1, 0, 1, 0, 1, 0, 1, 0]
['Male', 'Male', 'Femal', 'Male', 'Femal', 'Male', 'Femal', 'Male', 'Femal', 'Male']

## Ex 5.

1. `numbers1`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `numbers2`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `multiplication`: `numbers1`과 `numbers2`의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
1. `subtraction`: `numbers1`의 원소에서 같은 인덱스에 있는 `numbers2`의 원소를 뺀 값을 저장하는 리스트.

`numbers1`, `numbers2`, `multiplication`, `subtraction`를 출력.

In [ ]:
numbers1 = []
numbers2 = []

multiplication = [] #곱
subtraction = [] #n1-n2

for i in range(10):
  number1 = random.randrange(100)
  number2 = random.randrange(100)
  numbers2.append(number2)
  numbers1.append(number1)

  multiplication.append(number1 * number2)
  subtraction.append(number1 - number2)
print('num1',numbers1)
print('num2',numbers2)
print('mul',multiplication)
print('sub',subtraction)

num1 [68, 40, 98, 80, 30, 92, 66, 73, 83, 94]
num2 [67, 93, 57, 69, 11, 83, 37, 20, 73, 18]
mul [4556, 3720, 5586, 5520, 330, 7636, 2442, 1460, 6059, 1692]
sub [1, -53, 41, 11, 19, 9, 29, 53, 10, 76]