<a href="https://colab.research.google.com/github/k-seona/lab_python/blob/main/py05_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#list

* 여러 개의 값들을 하나의 변수에 저장하기 위한 데이터 타입(자바와 다른점 : 여러개 타입을 넣을 수 있음.)
* element(원소, 요소): 리스트에 저장되는 각각의 값
* index(인덱스): 리스트에서 원소가 저장된 위치
  * 리스트의 인덱스는 **0**부터 시작
  * 리스트의 마지막 인덱스는 (원소 개수 -1).
* 리스트는 원소들을 추가, 삭제, 변경 할 수 있음.
   *`tuple`과 다른 점!

```
# 코드로 형식 지정됨
```

In [1]:
#숫자들을 저장하는 리스트
numbers = [1, 2, 3, 10, 20, 30]
numbers

[1, 2, 3, 10, 20, 30]

#인덱싱(indexing)
인덱스를 사용해서리스트와 원소를 저장하는 리스트

In [2]:
numbers [0] #리스트 numbers의 인덱스 0 위치의 원소

1

In [3]:
numbers [5] #리스트 numbers의 인덱스 5 위치의 원소

30

In [4]:
numbers [-1] #리스트 numbers에서 가장마지막 원소

30

In [5]:
numbers [-2]#리스트 numbers에서 마지막 두번째 원소

20

#slicing

인덱스를 사용해서 리스트의 부분집합(리스트)를 잘라내는 방법

`list[start:end]`

*start <= index < end 범위의 인덱스 위치의 원소들을 잘라냄
*start를 생략한 경우에는 첫번째 원소부터 잘라냄
  * `list[0:5]`과 `list[:5]`는 같은 결과
*end를 생략한 경우에는 마지막 원소까지 잘라냄.
*리스트를 slicing한 결과는 또다른 새로운 **리스트**

In [6]:
numbers[1:4]

[2, 3, 10]

In [7]:
numbers[3:6]

[10, 20, 30]

In [8]:
numbers[3:]

[10, 20, 30]

In [9]:
numbers[:3] #리스트에서 앞에서 3개를 선택

[1, 2, 3]

In [10]:
numbers[-3:]#리스트에서 뒤에서 3개

[10, 20, 30]

In [11]:
numbers[0:1] #slicing -> 리스트(1개의 리스트)

[1]

In [12]:
numbers[0] #indexcing -> 값(숫자)(원소1)

1

#문자열(str)
*문자들의 *리스트*
*문자열은 인덱스를 사용할 수 있음
*indexcion, slicing 가능.

In [13]:
message = '안녕하세요, 여러분!' #11개의 문자들로 이루어진 리스트.

In [14]:
message[0] #문자열에서 첫번째 문자

'안'

In [15]:
message[-1]

'!'

In [16]:
message[:3] # 문자열에서 앞에서 3글자

'안녕하'

In [17]:
message[-3:] #문자열에서 뒤에서 3글자

'러분!'

In [18]:
#문자열 산술 연산 : +, *
print('hello' + 'python')
print('hello' * 3)

hellopython
hellohellohello

#리스트의 산술 연산

* `list + list `
* `list * int` 또는 `int * list`

In [19]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [20]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [21]:
for x in 'hello':
  print(x)

h
e
l
l
o

In [22]:
numbers=[1,10,5,100]
for x in numbers:
  print(x)

1
10
5
100

In [23]:
for i in range(len(numbers)): # 0 <=X <len
  print(i, ':',numbers[i])

0 : 1
1 : 10
2 : 5
3 : 100

In [24]:
for i, v in enumerate(numbers):
  print(i, ':', v)

0 : 1
1 : 10
2 : 5
3 : 100

In [25]:
numbers1=[1,2,3]
numbers2 = [10, 11, 12]
#numbers1과 numbers2의 같은 인덱스의 원소들끼리의 합을 원소로 갖는리스트.
#[11, 13, 15]
result = []
for i in range(len(numbers1)):
  result.append(numbers1[i] + numbers2[i])
result

[11, 13, 15]

In [26]:
result = []
for x, y in zip(numbers1, numbers2):
  result.append(x+ y)
result

[11, 13, 15]

파이썬에 난수를 만드는 방법

In [27]:
import random # random 모듈을 임포트

In [28]:
# random모듈의 random()함수를 호출
random.random() #[0, 1) 범위 (0 <= x < 1)의 실수 난수를 리턴.

0.2797524324563261

In [29]:
#random 모듈의 randrange()함수를 호출
random.randrange(10) #[0,10)

4

In [30]:
random.randrange(1,4) # [1,4)

2

## Ex 1.

1. 빈 리스트를 생성.
1. 1 이상 10 이하의 정수 난수 5개를 저장.
1. 리스트의 모든 정수들의 합을 출력.
1. 리스트의 모든 정수들의 평균을 출력.

In [41]:
numbers=[]
for i in range(5):
  number = random.randrange(1,11)
  numbers.append(number)

print(numbers)
count = 0 #sum = 0 sum사용 ㄴㄴ

for i in numbers:
  count += i
print('count',count)
print(f'count = {count}')
print('avg',count / len(numbers))

[3, 9, 9, 1, 9]
count 31
count = 31
avg 6.2

In [104]:
numbers = []
numbers = [random.randrange(1,11) for x in range(5) ]
print(numbers)

count = 0
for x in numbers:
    count += x
print('count',count)
print('avg',count / len(numbers))

[3, 4, 9, 9, 9]
count 34
avg 6.8

## Ex 2.

1. 빈 리스트(numbers)를 생성.
1. 10 이상, 100 미만의 정수 난수 10개를 numbers에 저장.
1. numbers에서 짝수들만 선택해서 evens 리스트를 만들고 출력.
1. numbers에서 홀수들만 선택해서 odds 리스트를 만들고 출력.

In [44]:
numbers = []
for i in range(10):
  #number = random.randrange(10, 99)
  #numbers.append(number)
  numbers.append(random.randrange(10,100))
print(numbers)

evens = []
odds = []
for i in range(len(numbers)):
  if numbers[i] % 2 == 0:
    evens.append(numbers[i])
  else:
    odds.append(numbers[i])
print('evens', evens)
print('odds',odds)

[43, 64, 14, 68, 89, 22, 35, 24, 47, 30]
evens [64, 14, 68, 22, 24, 30]
odds [43, 89, 35, 47]

In [123]:
numbers = [random.randrange(10,100) for _ in range(10) ]
print('num', numbers)

evens = [i for i in numbers if i % 2 == 0]
print('e', evens)

odd = [x for x in numbers if x % 2]
print('o',odd)

num [53, 50, 56, 16, 66, 71, 77, 75, 26, 69]
e [50, 56, 16, 66, 26]
o [53, 71, 77, 75, 69]

## Ex 3.

1. 빈 리스트 numbers를 만듦.
1. -10 이상 10 이하인 범위의 정수 난수 10개를 numbers에 저장.
1. numbers의 원소가 양수이면 True, 그렇지 않으면 False를 저장하는 is_positive 리스트를 만들고 출력.

In [60]:
numbers = []
is_positive = []

for i in range(10):
    number = random.randrange(-10, 10)
    numbers.append(random.randrange(-10, 10))
    if number > 0:
      is_positive.append('True')
    else:
      is_positive.append('False')

print(numbers)
print(is_positive)

[2, -4, -1, -9, -9, 3, 2, -6, 6, 0]
['False', 'True', 'True', 'False', 'False', 'False', 'False', 'False', 'True', 'False']

In [133]:
# 삼항 연산자 x
x = -1
is_positive = True if x > 0 else False # <=삼항 연산자

is_positive

False

In [137]:
numbers = [random.randrange(-10,11) for _ in range(10) ]
print('num', numbers)

is_positive = [True if x > 0 else False for x in numbers]
print(is_positive)

num [3, 7, -6, 10, -1, 9, -8, -6, 1, -1]
[True, True, False, True, False, True, False, False, True, False]

## Ex 4.

1. gender_codes 리스트에 0 또는 1을 랜덤하게 10개를 저장.
1. gender_codes의 값이 0이면 'Male', 그렇지 않으며 'Female'을 저장하는 genders 리스트를 만들고 출력.

In [34]:
gender_codes = []
genders = []
for i in range(10):
  code = random.randrange(0, 2)
  gender_codes.append(code)

  if code == 0:
    genders.append('Male')
  else:
    genders.append('Femal')
print(gender_codes)
print(genders)

[0, 0, 1, 1, 1, 1, 1, 1, 1, 0]
['Male', 'Male', 'Femal', 'Femal', 'Femal', 'Femal', 'Femal', 'Femal', 'Femal', 'Male']

In [149]:
gender_codes = [random.randrange(0,2) for _ in range(10)]
print(gender_codes)

genders = ['Male' if x == 0 else 'Female' for x in gender_codes]
print(genders)

[1, 1, 1, 1, 0, 1, 0, 0, 1, 1]
['Female', 'Female', 'Female', 'Female', 'Male', 'Female', 'Male', 'Male', 'Female', 'Female']

In [150]:
gender_codes =[1,2,1,2,3]
# 1 -> m 2->f ,3->unknwon
genders = ['Male' if x == 1 else 'Femal' if x == 2 else 'unknwon' for x in gender_codes]
print(genders)

['Male', 'Femal', 'Male', 'Femal', 'unknwon']

## Ex 5.

1. `numbers1`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `numbers2`: 100 미만의 정수 난수 10개를 저장하는 리스트.
1. `multiplication`: `numbers1`과 `numbers2`의 같은 인덱스에 있는 원소들끼리의 곱셈 결과를 저장하는 리스트.
1. `subtraction`: `numbers1`의 원소에서 같은 인덱스에 있는 `numbers2`의 원소를 뺀 값을 저장하는 리스트.

`numbers1`, `numbers2`, `multiplication`, `subtraction`를 출력.

In [63]:
numbers1 = []
numbers2 = []

multiplication = [] #곱
subtraction = [] #n1-n2

for i in range(10):
  number1 = random.randrange(100)
  number2 = random.randrange(100)
  numbers2.append(number2)
  numbers1.append(number1)

  multiplication.append(number1 * number2)
  subtraction.append(number1 - number2)
print('num1',numbers1)
print('num2',numbers2)
print('mul',multiplication)
print('sub',subtraction)

num1 [69, 83, 85, 6, 40, 63, 3, 92, 92, 45]
num2 [8, 18, 6, 32, 90, 2, 43, 76, 65, 39]
mul [552, 1494, 510, 192, 3600, 126, 129, 6992, 5980, 1755]
sub [61, 65, 79, -26, -50, 61, -40, 16, 27, 6]

In [148]:
numbers1 = [random.randrange(100) for _ in range(10) ]
print('num1', numbers1)
numbers2 = [random.randrange(100) for _ in range(10) ]
print('num2', numbers2)

multiplication = [x * y for x,y in zip(numbers1, numbers2) ]
print(multiplication)
subtraction = [x - y for x,y in zip(numbers1, numbers2) ]
print(subtraction)

num1 [43, 68, 18, 21, 26, 81, 23, 60, 31, 50]
num2 [15, 30, 34, 8, 4, 9, 83, 86, 37, 85]
[645, 2040, 612, 168, 104, 729, 1909, 5160, 1147, 4250]
[28, 38, -16, 13, 22, 72, -60, -26, -6, -35]

#List comprehension(리스트내포)

1 ~ 10 정수들을 순서대로 리스트에 저장 `[1, 2, 3, ..., 9, 10 ]`

In [65]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
numbers

# 이걸 한줄로 줄이면 컴프리 핸션

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [69]:
#comprehension
numbers = [x for x in range(1,11)] # 두번쨰 x = range에서 찾는거.
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
# [1,4,9,14,16,...,100]
squares = [x*x for x in range (1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [82]:
#난수 10개를저장하는 리스트를 만들기 0이상~10미만
numbers = [random.randrange(10) for x in range(10) ]

numbers

[4, 7, 2, 2, 2, 3, 6, 7, 5, 4]