<a href="https://colab.research.google.com/github/k-seona/lab_python/blob/main/py06_tuple_set_dict_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

*  하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
*  저장된 원소(아이템)들을 변경할 수 없는 리스트.
    *  `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
*  인덱스 기반 자료 타입.
    *  indexing, slicing
    *  음수 인덱스도 사용 가능

In [ ]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 10, 20, 100, 200)
numbers

(1, 2, 10, 20, 100, 200)

In [ ]:
type(numbers)

tuple

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [ ]:
numbers[0]  # 튜플의 첫번째 원소

1

In [ ]:
numbers[-1]  # 튜플의 마지막 원소

200

slicing: 자르기. 부분집합.

In [ ]:
numbers[:3]  # 튜플에서 첫 3개의 원소들을 잘라내기. [start, end) 범위.

(1, 2, 10)

In [ ]:
numbers[-3:]  # 튜플에서 마지막 3개의 원소들을 잘라내기.

(20, 100, 200)

## decomposition(분해)

In [ ]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [ ]:
x, y, z = (1, 3, 5)
print(x, y, z)

1 3 5

## tuple & for

In [ ]:
for x in odds:
    print(x)

1
3
5

# 2차원 리스트/튜플

In [ ]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [ ]:
len(numbers)  # 2차원 리스트 numbers의 원소 개수

2

In [ ]:
numbers[0]

[1, 2, 3]

In [ ]:
numbers[0][0]

1

Ex.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드고 출력하세요.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드고 출력하세요.
1. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트 add를 만들고 출력하세요.

In [4]:
import random

In [18]:

array1 = [] #1차원 리스트들을 저장할 빈 리스트
#array2 = []
for _ in range(2): #2번반복
    row =[] # 난수들을 저장할 빈 리스트.
    #row1 =[]
    for _ in range(2): # 2번반복
        row.append(random.randrange(10)) #난수를 row에 추가
       # row1.append(random.randrange(10))
    array1.append(row) #난수 두개를 갖는 1차원 리스트를 어레이1번에 추가
    #array2.append(row1)

print(array1)
#print(array2)

[[6, 1], [4, 6]]

In [19]:
array2 = [[random.randrange(10) for _ in range(2)]
          for _ in range(2)]
array2

[[6, 2], [8, 8]]

In [24]:
add = []
for row1, row2 in zip(array1,array2):
    print(row1, row2)
    temp = [] #덧셈 결과를 저장할 빈 배열
    for x, y in zip(row1, row2):
        temp.append(x + y)
    add.append(temp)
add

[6, 1] [6, 2]
[4, 6] [8, 8]

[[12, 3], [12, 14]]

In [25]:
[[x + y for x, y in zip(row1, row2)]
 for row1, row2 in zip(array1, array2)]

[[12, 3], [12, 14]]