<a href="https://colab.research.google.com/github/k-seona/lab_python/blob/main/py06_tuple_set_dict_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple(튜플)

*  하나의 변수에 여러 개의 값들을 저장하기 위한 자료 타입.
*  저장된 원소(아이템)들을 변경할 수 없는 리스트.
    *  `append()`, `remove()`와 같은 원소를 변경하는 메서드(기능)은 제공하지 않음.
*  인덱스 기반 자료 타입.
    *  indexing, slicing
    *  음수 인덱스도 사용 가능

In [ ]:
# 숫자들을 저장하는 튜플
numbers = (1, 2, 10, 20, 100, 200)
numbers

(1, 2, 10, 20, 100, 200)

In [ ]:
type(numbers)

tuple

indexing: 인덱스를 사용해서 원소 1개를 참조하는 방법

In [ ]:
numbers[0]  # 튜플의 첫번째 원소

1

In [ ]:
numbers[-1]  # 튜플의 마지막 원소

200

slicing: 자르기. 부분집합.

In [ ]:
numbers[:3]  # 튜플에서 첫 3개의 원소들을 잘라내기. [start, end) 범위.

(1, 2, 10)

In [ ]:
numbers[-3:]  # 튜플에서 마지막 3개의 원소들을 잘라내기.

(20, 100, 200)

## decomposition(분해)

In [ ]:
odds = (1, 3, 5)
a = odds[0]
b = odds[1]
c = odds[2]
print(a, b, c)

1 3 5

In [ ]:
x, y, z = (1, 3, 5)
print(x, y, z)

1 3 5

## tuple & for

In [ ]:
for x in odds:
    print(x)

1
3
5

# 2차원 리스트/튜플

In [ ]:
numbers = [
    [1, 2, 3],
    [4, 5, 6]
]
numbers

[[1, 2, 3], [4, 5, 6]]

In [ ]:
len(numbers)  # 2차원 리스트 numbers의 원소 개수

2

In [ ]:
numbers[0]

[1, 2, 3]

In [ ]:
numbers[0][0]

1

Ex.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array1을 만드고 출력하세요.
1. 2x2 모양의 [0, 10) 범위의 정수 난수들을 저장하는 2차원 리스트 array2을 만드고 출력하세요.
1. array1과 array2의 같은 인덱스의 원소들끼리의 덧셈 결과를 저장하는 2차원 리스트 add를 만들고 출력하세요.

In [4]:
import random

In [18]:

array1 = [] #1차원 리스트들을 저장할 빈 리스트
#array2 = []
for _ in range(2): #2번반복
    row =[] # 난수들을 저장할 빈 리스트.
    #row1 =[]
    for _ in range(2): # 2번반복
        row.append(random.randrange(10)) #난수를 row에 추가
       # row1.append(random.randrange(10))
    array1.append(row) #난수 두개를 갖는 1차원 리스트를 어레이1번에 추가
    #array2.append(row1)

print(array1)
#print(array2)

[[6, 1], [4, 6]]

In [19]:
array2 = [[random.randrange(10) for _ in range(2)]
          for _ in range(2)]
array2

[[6, 2], [8, 8]]

In [24]:
add = []
for row1, row2 in zip(array1,array2):
    print(row1, row2)
    temp = [] #덧셈 결과를 저장할 빈 배열
    for x, y in zip(row1, row2):
        temp.append(x + y)
    add.append(temp)
add

[6, 1] [6, 2]
[4, 6] [8, 8]

[[12, 3], [12, 14]]

In [25]:
[[x + y for x, y in zip(row1, row2)]
 for row1, row2 in zip(array1, array2)]

[[12, 3], [12, 14]]

#Set(집합)

* 중복된 데이터를 허용하지 않음: `{1,2,2,3,3} = {1, 2, 3}`
* 인덱스 기반의 자료 구조가 아님, 인덱스가 없음
    * 데이터의 저장 순서가 중요하지 않음.:`{1, 2, 3} = {3, 1, 2}`
    * indexing, slicing 기능을 제공하지 않음.
    * for-in구문에서 사용할 수 있는 iterable 타입.

리스트 []
튜플 ()
set{}

In [27]:
s = {1, 2, 2, 3, 3}
s

{1, 2, 3}

In [29]:
type(s)

set

#set의 기능(메서드)

In [32]:
s.add(5) #set에 원소추가
s

{1, 2, 3, 5}

In [38]:
s.add(5) #개수 늘어나지 않음. 같은값 있음.
s

{1, 2, 3, 5}

In [40]:
s.remove(3) #set의 원소를 삭제,삭제할 원소를 아규먼트로 전달
s

KeyError: ignored

In [41]:
s.pop() #임의의숫자 삭제
s

{2, 5}

In [42]:
s1 = {1, 2, 3, 4}
s2 = {2,3, 5, 6}
s1.union(s2) #합집합

{1, 2, 3, 4, 5, 6}

In [44]:
s1.intersection(s2) #교집합

{2, 3}

In [45]:
s1.difference(s2) # 차집합 s1 - s2

{1, 4}

In [46]:
s2.difference(s1) # 차집합 s1 - s2

{5, 6}

#dict
(자바 Map<String, value>)

*dictionary(사전)형식의 데이터 타입.
*키(key) 를 기반으로 값(value)를 저장하는 데이터타입
    * list, tuple: 인덱스 기반의 데이터 타입
    * key-value 기반의 데이터타입
    * dict에서 key의 역할은 1개 아이템의 값(value)를 찾기 위한용도

In [49]:
students = {1: '홍길동', 2:'혀균', 3:'오쌤'} #번호 key 이름 value
students

{1: '홍길동', 2: '혀균', 3: '오쌤'}

In [50]:
type(students)

dict

`dict`에서 키를 사용하는 방법은 `list` 또는 `tuple`과 마찬가리로 인덱스 연산자 (`[]`)을 사용함.

In [52]:
students[1] #dict에서 key가 1인 아이템의 value

'홍길동'

In [54]:
students[10] = '홍길동' #dict에 새로운 key-value 아이템을 추가
students # key는 중복 불가. value는 됨

{1: '홍길동', 2: '혀균', 3: '오쌤', 10: '홍길동'}

In [56]:
students[3] = 'scott'
students #기존의 키를 사용하면 value값 변경

{1: '홍길동', 2: '혀균', 3: 'scott', 10: '홍길동'}

In [58]:
students.pop(3) #해당하는 key의 아이템 (key: value)을 삭제
students

KeyError: ignored

In [60]:
book = {
    'title':'점프 투 파이썬',
    'authors': ['박응용', '웨스 매키니'], #아이템들은 쉼표로 구별
    'isbn': 132456789
}
book

{'title': '점프 투 파이썬', 'authors': ['박응용', '웨스 매키니'], 'isbn': 132456789}

In [62]:
book['title']

'점프 투 파이썬'

In [64]:
book['authors']

['박응용', '웨스 매키니']

In [66]:
book['authors'][0]

'박응용'

##dict & for

In [68]:
contact = {
    'no' : 1,
    'name': '오쌤',
    'phones': ['010-0000-0000', '02-0000-0000'],
    'emails': {
        'company': 'jaket@itwill.co.kr',
        'personal': 'jake@naver.com'
    }
}
contact

{'no': 1,
 'name': '오쌤',
 'phones': ['010-0000-0000', '02-0000-0000'],
 'emails': {'company': 'jaket@itwill.co.kr', 'personal': 'jake@naver.com'}}

In [69]:
for k in contact:
    print(k)

no
name
phones
emails

for in 구문에서 dict를 사용하면 키(key)를 iteration함!

In [71]:
for k in contact:
    print(k, ':',contact[k])

no : 1
name : 오쌤
phones : ['010-0000-0000', '02-0000-0000']
emails : {'company': 'jaket@itwill.co.kr', 'personal': 'jake@naver.com'}

In [73]:
contact.keys() # dict의 key들이 리스트를 리턴 (리스트를가지고 있는 객체)

dict_keys(['no', 'name', 'phones', 'emails'])

In [75]:
contact.values() #dict의 value들의 리스트를 리턴

dict_values([1, '오쌤', ['010-0000-0000', '02-0000-0000'], {'company': 'jaket@itwill.co.kr', 'personal': 'jake@naver.com'}])

In [77]:
contact.items() #dict에서 (key,value) 튜플들의 리스트를 리턴

dict_items([('no', 1), ('name', '오쌤'), ('phones', ['010-0000-0000', '02-0000-0000']), ('emails', {'company': 'jaket@itwill.co.kr', 'personal': 'jake@naver.com'})])

In [78]:
for k,v in contact.items():
    print(k,v)

no 1
name 오쌤
phones ['010-0000-0000', '02-0000-0000']
emails {'company': 'jaket@itwill.co.kr', 'personal': 'jake@naver.com'}

##dictionary comprehension

In [ ]:
emp_no= [1001,1002,2001,2002] #직원번호
emp_name = ['king', 'Scott', 'Allen','Tiger']
#emp_no를 key로 하고 emp_name을 value로 dict를 만들고 출력