<a href="https://colab.research.google.com/github/k-seona/lab_python/blob/main/py07_funtion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Function(함수)

    *function(함수): 기능을 수행하는 코드블록.
    *argument : 함수를 호출하는 곳에서 함수에게 전달하는 값.
    *parameter: argument를 저장하기 위햇 함수 선언부에서 선언하는 지역 변수.
    *return value: 함수가 기능의 수행결과로 리턴하는 값.
        *return value가 있는 함수
        *return value가 없는 함수
    *파이썬 함수 정의 방법
        ```
        def function_name([param,...]):
            ["""문서화 주석-용도-함수 기능 설명, 파라미터 설명, 리턴 값 설명"""]
            함수기능구현
            [return 값]
        ```
    *return value가 없는 경우에,
        *return 문장을 생략
        *return None 명시할 수도 있음

In [1]:
def subtract(x,y):
    """2개의 숫자 x, y 를 전달 받아서 x - y결과를 리턴하는 함수.
    """
    return x - y

In [2]:
result = subtract(2,3)
print(result)

-1

In [3]:
#리턴값없는 함수
def repeat_message(message, n):
    """ 문자열과(message)과 양의 정수(n)을 전달 받아서, message를 n번 출력하는 함수
    """
    for _ in range(n):
        print(message)
    return None
    #리턴 값이 없으면 보통 return문을 생략하지만 , return None으로 명시하기도함.

In [4]:
repeat_message('안녕하세요', 3)

안녕하세요
안녕하세요
안녕하세요

## Ex 1.

* 함수 이름: make_list
* 기능: start 이상 end 미만의 정수 난수 n개를 갖는 리스트를 반환하는 함수.

In [15]:
import random

In [6]:
#x start y end z=n 이런느낌.

def make_list(start, end, n):
    numbers = []
    for _ in range(n): # n 5개
        numbers.append(random.randrange(start,end)) # 0 start 이상 , end 10 미만
    return numbers

In [41]:
#선생님 ver
def make_listt(start, end, n):
    numbers = [random.randrange(start,end) for _ in range(n)]
    return numbers

In [43]:
#선생님 ver
make_listt(0,10,5)

[4, 3, 2, 8, 7]

In [7]:
make_list(1,11,3)

[4, 9, 5]

## Ex 2.

* 함수 이름: calc_sum
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 모든 원소들의 합을 리턴하는 함수.

In [8]:
def calc_sum(numbers):
    total = 0
    for num in numbers:
        total += num
    return total

In [9]:
#numbers = [1,2,3,4,5]
#result = calc_sum(numbers)
print(result)

15

In [44]:
#선생님 ver
numbers = make_listt(0,10,5)
print(numbers)
total = calc_sum(numbers)
print(total)

[6, 2, 6, 4, 0]
18

## Ex 3.

* 함수 이름: calc_mean
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 평균을 리턴하는 함수.

In [46]:
def calc_mean(numbers):
    total = 0
    avg = 0
    for num in numbers:
        total += num
        avg = total / len(numbers)
    return avg

In [50]:
#선생님 ver
def calc_meann(num_list):
    mean = calc_sum(num_list) / len(num_list)
    return mean

In [51]:
calc_meann(numbers)

3.0

In [11]:
#numbers = [1,2,3,4,5]
result = calc_mean(numbers)
print(result)

3.0

## Ex 4.

* 함수 이름: calc_var
* 기능: 숫자들의 리스트를 전달받아서, 리스트의 원소들의 분산(variance)을 리턴하는 함수.
    * 분산 = (값 - 평균)**2 들의 평균

In [52]:
def calc_var(num_list):
   mean = calc_mean(num_list)
   squares = [(x - mean) ** 2 for x in num_list]
   varinace = calc_mean(squares)
   return varinace

In [67]:
calc_var(numbers)

4.8

In [74]:
scores1 = [3, 4, 5, 6, 7]
scores2 = [0, 1, 5, 9, 10]
mean1 = calc_meann(scores1)
mean2 = calc_meann(scores2)

print(f'mean1 = {mean1}')
print(f'mean2 = {mean2}')

print (calc_var(scores1))

print (calc_var(scores2))

mean1 = 5.0
mean2 = 5.0
2.0
16.4

In [89]:
def make_lotto_list():
    lottos = []
    for _ in range(5):
        lotto = set()  # set
        while True:
            lotto.add(random.randrange(1, 46))
            if len(lotto) == 6:
                break
        lottos.append(lotto)
    return lottos

In [90]:
make_lotto_list()

[{14, 29, 31, 33, 34, 43},
 {2, 3, 17, 23, 26, 35},
 {6, 13, 20, 27, 33, 45},
 {2, 11, 14, 29, 39, 40},
 {15, 16, 26, 27, 35, 41}]